@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Monsieur+La+Doulaise&family=Noto+Sans+Mongolian&family=Pacifico&family=Parisienne&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(to right, #D6B4FC, #A8D8F4);
}


.menu {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    position: fixed; 
    left:-0; 
    top:-0; 


    background-color: #9a6ad1; 
    width: 10px; 
    height: 100%; 

    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    transition: left 0.3s ease, width 0.3s ease;
}

.menu:hover {
    left: 0;
    width: 80px; 
        
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

/* Estilo dos itens */
.item {
    margin: auto;
    padding: 5px;
    background-color: #F2E1C2;
    border-radius: 5px;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
    opacity: 0; 
    visibility: hidden;
}

.menu:hover .item {
    opacity: 1;
    visibility: visible;
}

body > .pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 250px;
    width: 750px;
    height: 60px;
 
    background-color: aliceblue;
    border-radius:15px ;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    text-align: center;
    font-size: 30px;
    border: #333, solid 1px;
}

.pesquisa > p{
    margin: auto;
}


.resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 600px;
    padding: 20px;

    background: linear-gradient(to right, #D6B4FC, #A8D8F4);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
}

.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 600px;
    padding: 20px;

    background:#9a6ad1;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
}
.square img{

    border-radius: 500px;

}
.resultado img{

        border-radius: 500px;

}

.resultado h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.resultado p {
    margin-top: 10px;
    font-size: 18px;

    color: #555;
}

.audio-player {
    position: fixed;
    bottom: 20px; 
    background: linear-gradient(135deg, #D6B4FC, #F4A8C9, #A8D8F4); 
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999; 
    display: flex;
    align-items: center;
}


.audio-player audio {
    width: 220px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2)); 
}


.audio-icon {
    font-size: 24px;
    color: #F2E1C2;
    margin-right: 10px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;

    background-color:#F2E1C2 ;
        border-radius: 50px;
        height: 40px;
        width: 40px;
        cursor: pointer;
}
a {
    text-decoration: none;
}
.custom-button {
    background: #4a3aff; /* Roxo moderno */
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 1rem;
    width: 200px;
    height: 100px;
    margin-top: 150px;
    margin-bottom: 120px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
  }
  
  .custom-button:hover {
    background: #372fd1; /* Tom mais escuro no hover */
    transform: scale(1.05);
  }
